// place your custom styles here
.vp-blog-hero-title {
    font-family: arial, 'Microsoft YaHei', '微软雅黑', '宋体', sans-serif;
}



.vp-blog-hero-description {
    font-family: arial, 'Microsoft YaHei', '微软雅黑', '宋体', sans-serif;
    font-size: 1.3em;
    font-weight: 800;
    background: -webkit-linear-gradient(300deg,#293034, #4149a6, #2fad6e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent
}

 #word {
    font-size: small;
}
